<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<moduleBean v="1">
    <name>Larva Seconds Lost</name>
    <version major="1" minor="2" revision="0" v="1"/>
    <folder>larva-seconds-lost</folder>
    <archiveFile path="LarvaSecondsLost-1.2.zip" sha256="b5c1f44e905db8c727abd255f71b9567671157dd9c722ef694ab496f4122ae0e" v="1"/>
    <urlList>https://example.invalid/scelight-mods/LarvaSecondsLost-1.2.zip</urlList>
    <archiveSize>158760</archiveSize>
    <fileList path="Scelight/mod-x/larva-seconds-lost/1.2/Scelight-mod-x-manifest.xml" sha256="f0497133226b33aea93aea1a5db9b93d4e83a33bb28c8176f6db69aef8d6312a" v="1"/>
    <fileList path="Scelight/mod-x/larva-seconds-lost/1.2/larva-seconds-lost.jar" sha256="1f47c626cef6b52d9a1b3ee37797458c934282244c6126cdca6257f9c9d59b59" v="1"/>
</moduleBean>
